.showpayment-info {
    display: flex;
    width: 100%;
    .info-container {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin: 2.5% 0;
        // flex-direction: column;
    }
}