.product-main {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 20%;
  .view-product-container {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-auto-rows: 1fr;
    // gap: 40px 0;
    // width: 100%;
  }
  //   .view-related-products {
  //     display: flex;
  //     flex-direction: column;
  //     width: 100%;
  //     gap: 20px;
  //     line-height: 2;
  //   }
}
