.admin-all-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: calc(75px + 2.5%);
  .products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    .card-container {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(3, 3fr);
      grid-auto-rows: 1fr;
      grid-gap: 50px 75px;
      border: 1px solid rgb(231, 231, 231);
    }
  }
}
