.admin-dashboard-page .navbar {
  background-color: #416aff;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.admin-dashboard-page .navbar h1 {
  font-size: 25px;
  color: #fff;
  display: flex;
  margin-left: 1%;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: #416aff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.logout-container .logout-dashboard {
  background: #416aff;
  color: #fff;
  display: flex;
  font-weight: 700;
  align-items: center;
  width: fit-content;
  transition: all 0.8s;
  padding: 1em 1.5em;
  border-radius: 7.5px;
  font-size: 16px;
}
@media (max-width: 1450px) {
  .logout-container .logout-dashboard {
    padding: 12.5px 30px;
    font-size: 15px;
 }
}
.logout-container .logout-dashboard:hover {
  box-shadow: 0 80px 0 0 rgba(0, 0, 0, 0.25) inset, 0 -80px 0 0 rgba(0, 0, 0, 0.25) inset;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}
.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: #1a83ff;
}
.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
span {
  margin-left: 16px;
}