.password-update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fff;
  box-shadow: 0 0 10px 5px rgba(#000, 0.1);
  width: clamp(1%, 800px, 90%);
  border-radius: 15px;
  padding: 50px 0;
  form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    .login-input {
      width: 100%;
      border: 1px solid #d8d8d8;
      display: flex;
      padding: 7.5px 5px 7.5px 15px;
      gap: 10px;
      border-radius: 10px;
      input {
        flex: 1;
        border: none;
        outline: none;
        padding: 0 0 0 5px;
        &::placeholder {
          font-size: 14px;
          color: #7b7b7b;
        }
      }
    }
    input[type="submit"] {
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 10px;
      font-size: 17px;
      font-weight: 700;
      padding: 12.5px 0;
      color: #fff;
      background-color: #325cd9;
      &:hover {
        background-color: #3d76ff;
      }
    }
  }
}
